.footer {
    background-color: #ECF0F5;

    &__content {
        padding: 75px 0;
        border-bottom: 1px solid #E1E6EC;

        &-wrap {
            display: flex;
            justify-content: space-between;

            @include a (tablet) {
                flex-direction: column;
                align-items: center;
                gap: 30px;
            }
        }
        &-descr {
            max-width: 340px;
            width: 100%;
        }
    }

    &__logo {
        margin-bottom: 33px;
    }

    &__descr {
        font-size: toRem(15);
        line-height: 24px;
        color: #575C74;;
    }

    &__title {
        font-size: toRem(20);
        font-weight: 500;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 12px;
    }

    &__items {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }

    &__copyright {
        padding: 30px 0;
        font-size: toRem(14);
        color: #575C74;
        text-align: center;
    }
}