.industrial {
    padding-bottom: 77px;
    &-wrap {
        display: flex;
        justify-content: space-between;
        @include a (laptop) {
            flex-direction: column;
            align-items: center;
        }
    }

    &__content {
        max-width: 525px;
        @include a (laptop) {
            margin-bottom: 20px;
        }
    }

    &__title {
        font-size: toRem(48);
        font-weight: 700;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 20px;
    }

    &__descr {
        line-height: 30px;
        color: #575C74;
        &:nth-child(2) {
            margin-bottom: 40px;
        }
    }

    &__image {
        max-width: 570px;
    }
}